/*
Author:
Stedman Halliday: http://stedmanhalliday.com
*/
/* Web Fonts */
@font-face {
  font-family: "Officina Serif";
  src: url('/type/officina-serif/reg.eot?#iefix') format('embedded-opentype'), url('/type/officina-serif/reg.woff') format('woff'), url('/type/officina-serif/reg.ttf') format('truetype'), url('/type/officina-serif/reg.svg#OfficinaSerifStd-Book') format('svg');
}
@font-face {
  font-family: "Officina Serif";
  src: url('/type/officina-serif/bold.eot?#iefix') format('embedded-opentype'), url('/type/officina-serif/bold.woff') format('woff'), url('/type/officina-serif/bold.ttf') format('truetype'), url('/type/officina-serif/bold.svg#OfficinaSerifStd-Bold') format('svg');
  font-weight: bold;
}
@font-face {
  font-family: "Officina Sans";
  src: url('/type/officina-sans/reg.eot?#iefix') format('embedded-opentype'), url('/type/officina-sans/reg.woff') format('woff'), url('/type/officina-sans/reg.ttf') format('truetype'), url('/type/officina-sans/reg.svg#OfficinaSansStd-Book') format('svg');
}
@font-face {
  font-family: "Officina Sans";
  src: url('/type/officina-sans/it.eot?#iefix') format('embedded-opentype'), url('/type/officina-sans/it.woff') format('woff'), url('/type/officina-sans/it.ttf') format('truetype'), url('/type/officina-sans/it.svg#OfficinaSansStd-BookItalic') format('svg');
  font-style: italic;
}
@font-face {
  font-family: "Officina Sans";
  src: url('/type/officina-sans/bold.eot?#iefix') format('embedded-opentype'), url('/type/officina-sans/bold.woff') format('woff'), url('/type/officina-sans/bold.ttf') format('truetype'), url('/type/officina-sans/bold.svg#OfficinaSansStd-Book') format('svg');
  font-weight: bold;
}
@font-face {
  font-family: "Officina Sans";
  src: url('/type/officina-sans/bold-it.eot?#iefix') format('embedded-opentype'), url('/type/officina-sans/bold-it.woff') format('woff'), url('/type/officina-sans/bold-it.ttf') format('truetype'), url('/type/officina-sans/bold-it.svg#OfficinaSansStd-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}
/* Global LESS Variables & Mixins */
.serif {
  font-family: "Officina Serif", Helvetica, Arial, sans-serif;
  font-weight: normal;
  letter-spacing: .03em;
}
.serif-bold {
  font-family: "Officina Serif", Helvetica, Arial, sans-serif;
  font-weight: normal;
  letter-spacing: .03em;
  font-weight: bold;
}
.sans {
  font-family: "Officina Sans", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
.sans-it {
  font-family: "Officina Sans", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: italic;
}
.sans-bold {
  font-family: "Officina Sans", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-weight: bold;
}
/* Styles */
html {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
}
body {
  background: #fff5d9;
  color: #333333;
  font-family: "Officina Sans", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 130%;
  padding: 0 !important;
}
header {
  background: #fff5d9;
  position: relative;
  z-index: 1000;
}
header.sticky {
  border-bottom: 3px solid #333333;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  padding-top: 10px;
}
header.sticky nav {
  padding: 0;
}
header.sticky .container {
  border: none;
  padding: 0px;
}
header.sticky a {
  width: auto;
  height: auto;
}
header.sticky svg {
  height: 24px;
  width: auto;
  top: -1px;
}
header.sticky .logotype {
  position: fixed;
  transform: scale(0) translateX(-100px) skewY(-22.5deg);
  transform-origin: top left;
}
header .container {
  position: relative;
  padding: 20px 0 10px;
  border-bottom: 3px solid #333333;
}
header svg {
  position: relative;
  display: inline-block;
  top: 2px;
  transition: all 0.1s ease-out;
  transform-origin: bottom left;
}
header .logotype {
  display: inline-block;
  margin-left: 1em;
  transition: all 0.1s ease-out;
}
header a {
  color: inherit;
}
header a:hover {
  color: inherit;
  text-decoration: none;
}
header h1,
header h2 {
  margin: 0;
}
header nav {
  padding-top: 10px;
  position: absolute;
  bottom: -3px;
  right: 0;
}
@media (max-width: 767px) {
  header nav {
    right: 20px;
  }
}
header nav ul {
  margin: 0;
  text-align: right;
}
header nav ul li {
  display: inline-block;
  padding-bottom: 6px;
  margin-left: 6px;
  border-bottom: 3px solid #333333;
  transition: border-color 0.25s ease-in;
}
header nav ul li.current,
header nav ul li:hover {
  border-color: #ff3700 !important;
  transition: border-color 0.25s ease-in;
}
h1,
.h1 {
  font-family: "Officina Serif", Helvetica, Arial, sans-serif;
  font-weight: normal;
  letter-spacing: .03em;
  font-weight: bold;
  font-size: 24px;
  line-height: 118%;
  margin: 0 0 10px 0;
}
h1.orange {
  color: #ff3700;
}
h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 118%;
  margin: 0 0 10px 0;
  font-family: "Officina Serif", Helvetica, Arial, sans-serif;
  font-weight: normal;
  letter-spacing: .03em;
}
.drop {
  padding-top: 40px;
  clear: both;
}
a,
a:hover,
a:visited {
  color: #ff3700;
}
h3,
nav ul li {
  font-family: "Officina Sans", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 118%;
  margin: 0;
  color: #333333;
}
.missing {
  font-size: 36px;
  text-align: center;
  letter-spacing: .05em;
  margin-top: 342px;
  font-family: "Officina Sans", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-weight: bold;
}
.missing span {
  color: #ff3700;
}
#projects,
.images img,
.images iframe,
.images video,
article,
#awards,
#links,
#press,
#contact {
  margin-bottom: 40px;
}
#awards ul,
#links ul,
#press ul,
#contact ul {
  list-style: none;
  margin-left: 0;
}
#awards ul li,
#links ul li,
#press ul li,
#contact ul li {
  line-height: 2em;
}
#awards,
#press,
#contact {
  padding-left: 20px;
}
#awards p,
#press p,
#contact p {
  text-indent: -17px;
  padding-left: 17px;
}
#portrait {
  float: right;
}
@media (max-width: 767px) {
  #portrait {
    float: none;
    text-align: center;
  }
  #portrait img {
    display: inline-block;
    height: 200px;
    border-radius: 50%;
  }
}
.blogtext {
  font-size: 5em;
  color: #333333;
  text-shadow: 0 0 10px #ff3700;
  position: fixed;
  z-index: 1;
}
@media (max-width: 767px) {
  .blogtext {
    font-size: 3em;
  }
}
.blogtext#left-text {
  top: 50%;
  left: -1.15em;
  transform: rotateZ(-90deg) translateY(-50%);
}
.blogtext#right-text {
  top: 50%;
  right: -1.85em;
  transform: rotateZ(90deg) translateY(-50%);
}
.blogtext#bottom-text {
  left: 50%;
  bottom: 0em;
  transform: translateX(-50%);
}
#blog .grid-item {
  margin-bottom: 15px;
}
@media (min-width: 1200px) {
  #blog .grid-item {
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  #blog .grid-item {
    margin-bottom: 10px;
  }
}
#projects .plink,
#blog .plink {
  text-decoration: none;
}
#projects .project,
#blog .project {
  margin-bottom: 1em;
  box-sizing: border-box;
  transition: all .25s ease;
}
#projects .project .imgwrap,
#blog .project .imgwrap {
  overflow: hidden;
  border: 3px solid #333333;
  box-sizing: border-box;
}
#projects .project img,
#blog .project img {
  width: 100%;
  background: #333333;
  transition: all .25s ease;
}
#projects .project .project-info,
#blog .project .project-info {
  background: #333333;
  padding: 1em;
}
#projects .project .project-info h3,
#blog .project .project-info h3,
#projects .project .project-info p,
#blog .project .project-info p {
  color: #fff5d9;
  margin-bottom: 0;
}
#projects .project .project-info p,
#blog .project .project-info p {
  color: #ff3700;
}
#projects .grid-sizer,
#blog .grid-sizer,
#projects .grid-item,
#blog .grid-item {
  width: 24%;
}
#projects .grid-item.col2,
#blog .grid-item.col2 {
  width: 49.3333%;
}
#projects .gutter-sizer,
#blog .gutter-sizer {
  width: 1.3333%;
}
@media (max-width: 767px) {
  #projects .grid-sizer,
  #blog .grid-sizer,
  #projects .grid-item,
  #blog .grid-item {
    width: 49%;
  }
  #projects .gutter-sizer,
  #blog .gutter-sizer {
    width: 2%;
  }
}
#projects .filter,
#blog .filter {
  margin-left: 0;
  margin-bottom: 40px;
  border: 1px solid #333;
  border-width: 1px 0;
  padding: .5em 0;
}
#projects .filter li,
#blog .filter li {
  display: inline-block;
  margin: 0 .5em;
  padding: .25em .5em 0;
  border-radius: 3px;
  transition: all 0.25s ease-in;
}
#projects .filter a.filter-link,
#blog .filter a.filter-link {
  text-transform: uppercase;
  color: #ff3700;
  font-size: 12px;
}
#projects .filter a.filter-link:hover,
#blog .filter a.filter-link:hover,
#projects .filter a.filter-link.current,
#blog .filter a.filter-link.current {
  color: #fff5d9;
}
#projects .filter a.filter-link:hover li,
#blog .filter a.filter-link:hover li,
#projects .filter a.filter-link.current li,
#blog .filter a.filter-link.current li {
  background: #ff3700;
}
#project,
#blog {
  background: #333333;
  color: #fff5d9;
}
#project .subtitle,
#blog .subtitle {
  font-size: 18px;
}
#project .ext-links,
#blog .ext-links {
  margin: 20px 0;
}
#project .ext-links a,
#blog .ext-links a {
  text-decoration: none;
}
#project .ext-links .link,
#blog .ext-links .link {
  padding-left: 6px;
  border-left: 3px solid #fff5d9;
  margin-bottom: 20px;
  transition: border-color 0.25s ease-in;
  float: left;
  clear: left;
}
#project .ext-links .link:hover,
#blog .ext-links .link:hover {
  border-color: #ff3700;
  text-decoration: none;
  transition: border-color 0.25s ease-in;
}
#project .ext-links .link p,
#blog .ext-links .link p {
  font-family: "Officina Sans", Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin-bottom: 0px;
  position: relative;
  top: 2px;
}
#project .ext-links .link h3,
#blog .ext-links .link h3 {
  color: #fff5d9;
  position: relative;
  top: 2px;
}
#project p,
#blog p {
  clear: both;
}
#project .images,
#blog .images {
  float: right;
}
#project .images .video-wrapper,
#blog .images .video-wrapper {
  position: relative;
  padding-bottom: 55%;
  height: 0;
  margin-bottom: 40px;
}
#project .images .video-wrapper iframe,
#blog .images .video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#project .images .divider,
#blog .images .divider {
  border-bottom: 1px solid #fff5d9;
  padding-bottom: .33em;
  margin-top: 20px;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  #project .images,
  #blog .images {
    float: none;
  }
}
i {
  position: relative;
  margin-right: 3px;
  top: -3px;
}
.icon-envelope {
  top: -2px;
}
.push {
  height: 40px;
}
footer {
  font-size: small;
}
footer .row {
  position: absolute;
  bottom: 0;
}
footer .span12 {
  margin-bottom: 1em;
  text-align: right;
}
@media (max-width: 767px) {
  header div {
    width: 245px;
  }
  #awards,
  #press,
  #contact {
    padding-left: 0;
  }
  .ipad {
    margin-top: 0;
  }
  .container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .ipad {
    margin-top: -125px;
  }
}
@media (min-width: 1200px) {
  .ipad {
    margin-top: -175px;
  }
}
