/*
Author:
Stedman Halliday: http://stedmanhalliday.com
*/

/* Web Fonts */
@font-face {
  font-family: "Officina Serif";
  src: 	 url('/type/officina-serif/reg.eot?#iefix') format('embedded-opentype'),
	     url('/type/officina-serif/reg.woff') format('woff'),
	     url('/type/officina-serif/reg.ttf')  format('truetype'),
	     url('/type/officina-serif/reg.svg#OfficinaSerifStd-Book') format('svg');
}

@font-face {
  font-family: "Officina Serif";
  src: 	 url('/type/officina-serif/bold.eot?#iefix') format('embedded-opentype'),
	     url('/type/officina-serif/bold.woff') format('woff'),
	     url('/type/officina-serif/bold.ttf')  format('truetype'),
	     url('/type/officina-serif/bold.svg#OfficinaSerifStd-Bold') format('svg');
  font-weight: bold;
}

@font-face {
  font-family: "Officina Sans";
  src: 	 url('/type/officina-sans/reg.eot?#iefix') format('embedded-opentype'),
	     url('/type/officina-sans/reg.woff') format('woff'),
	     url('/type/officina-sans/reg.ttf')  format('truetype'),
	     url('/type/officina-sans/reg.svg#OfficinaSansStd-Book') format('svg');
}

@font-face {
  font-family: "Officina Sans";
  src: 	 url('/type/officina-sans/it.eot?#iefix') format('embedded-opentype'),
	     url('/type/officina-sans/it.woff') format('woff'),
	     url('/type/officina-sans/it.ttf')  format('truetype'),
	     url('/type/officina-sans/it.svg#OfficinaSansStd-BookItalic') format('svg');
  font-style: italic;
}

@font-face {
  font-family: "Officina Sans";
  src: 	 url('/type/officina-sans/bold.eot?#iefix') format('embedded-opentype'),
	     url('/type/officina-sans/bold.woff') format('woff'),
	     url('/type/officina-sans/bold.ttf')  format('truetype'),
	     url('/type/officina-sans/bold.svg#OfficinaSansStd-Book') format('svg');
  font-weight: bold;
}

@font-face {
  font-family: "Officina Sans";
  src: 	 url('/type/officina-sans/bold-it.eot?#iefix') format('embedded-opentype'),
	     url('/type/officina-sans/bold-it.woff') format('woff'),
	     url('/type/officina-sans/bold-it.ttf')  format('truetype'),
	     url('/type/officina-sans/bold-it.svg#OfficinaSansStd-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

/* Global LESS Variables & Mixins */
@cream: #fff5d9;
@orange: #ff3700;
@charcoal: #333333;

.serif {
  font-family: "Officina Serif", Helvetica, Arial, sans-serif;
  font-weight: normal;
  letter-spacing: .03em;
}

.serif-bold {
  .serif;
  font-weight: bold;
}

.sans {
  font-family: "Officina Sans", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.sans-it {
  .sans;
  font-style: italic;
}

.sans-bold {
  .sans;
  font-weight: bold;
}

/* Styles */
html {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
}

body {
  background: @cream;
  color: @charcoal;
  .sans;
  line-height: 130%;
  padding: 0 !important;
}

header {
    background: @cream;
    position: relative;
    z-index: 1000;

    &.sticky {
        border-bottom: 3px solid @charcoal;
        position: fixed;
        margin: 0 auto;
        width: 100%;
        padding-top: 10px;

        & nav {
            padding: 0;
        }

        & .container {
            border: none;
            padding: 0px;
        }

        & a {
            width: auto;
            height: auto;
        }

        & svg {
            height: 24px;
            width: auto;
            top: -1px;
        }

        & .logotype {
            position: fixed;
            transform: scale(0) translateX(-100px) skewY(-22.5deg);;
            transform-origin: top left;
        }
    }

    & .container {
        position: relative;
        padding: 20px 0 10px;
        border-bottom: 3px solid @charcoal;
    }

    & svg {
    	position: relative;
        display: inline-block;
        top: 2px;
        transition: all .1s ease-out;
        transform-origin: bottom left;
    }

    & .logotype {
    	display: inline-block;
        margin-left: 1em;
        transition: all .1s ease-out;
    }

    & a {
        color: inherit;

        &:hover {
            color: inherit;
            text-decoration: none;
        }
    }

    & h1, & h2 {
      	margin: 0;
    }

    & nav {
    	padding-top: 10px;
        position: absolute;
        bottom: -3px;
        right: 0;

        @media(max-width: 767px){
            right: 20px;
        }

        & ul {
        	margin: 0;
        	text-align: right;

            & li {
            	display: inline-block;
            	padding-bottom: 6px;
            	margin-left: 6px;
            	border-bottom: 3px solid @charcoal;
            	transition: border-color .25s ease-in;

                &.current, &:hover {
                	border-color: @orange !important;
                	transition: border-color .25s ease-in;
                }
            }
        }
    }
}

h1, .h1 {
  .serif-bold;
	font-size: 24px;
	line-height: 118%;
	margin: 0 0 10px 0;
}

h1.orange{
	color:@orange;
}

h2 {
  .h1;
  .serif;
}

.drop{
	padding-top:40px;
	clear:both;
}

a, a:hover, #projects p a, #projects p a:hover{
	color: @orange;
}

#projects p a:hover{
	text-decoration: underline;
}

h3, nav ul li {
	.sans-bold;
	font-size: 18px;
	line-height: 118%;
	margin: 0;
	color: @charcoal;
}

.missing{
	font-size: 36px;
	text-align: center;
	letter-spacing: .05em;
	margin-top: 342px;
	.sans-bold;
}

.missing span{
	color: @orange;
}

#projects, .images img, .images iframe, article, #awards, #press, #contact {
	margin-bottom: 40px;
}

#awards, #press, #contact {
	padding-left:20px;
}

#awards p, #press p, #contact p {
	text-indent: -17px;
	padding-left: 17px;
}

i img {
	display: inline-block;
	padding-left: 17px;
}

& .blogtext {
    font-size: 5em;
    color: @charcoal;
    text-shadow: 0 0 10px @orange;
    position: fixed;

    @media(max-width: 767px){
        font-size: 3em;
    }

    &#left-text {
        top: 60%;
        left: -.75em;
        transform: rotateZ(-90deg) translateY(-50%);
    }

    &#right-text {
        top: 60%;
        right: -1.25em;
        transform: rotateZ(90deg) translateY(-50%);
    }

    &#bottom-text {
        left: 50%;
        bottom: .5em;
        transform: translateX(-50%);
    }
}

#projects, #blog {

    & .project {
        margin-bottom: 1em;
        box-sizing: border-box;
        transition: all .25s ease;

        & .imgwrap {
            overflow: hidden;
            border: 3px solid @charcoal;
            box-sizing: border-box;
        }

        & img {
            width: 100%;
            background: @charcoal;
            transition: all .25s ease;
        }

        & .project-info {
            background: @charcoal;
            padding: 1em;

            & h3, & p {
                color: @cream;
                margin-bottom: 0;
            }

            & p {
                color: @orange;
            }
        }
    }

    & .grid-sizer, & .grid-item {
        width: 24%;
    }

    & .grid-item {
        margin-bottom: 15px;

        &.col2 {
            width: 49.3333%;
        }
    }

    & .gutter-sizer {
        width: 1.3333%;
    }

    @media(max-width: 767px){
        & .grid-sizer, & .grid-item {
            width: 49%;
        }

        & .gutter-sizer {
            width: 2%;
        }
    }

    & .link {
    	padding-left: 6px;
    	border-left: 3px solid @charcoal;
        display: inline-block;
    	margin-bottom: 30px;
    	transition: border-color .25s ease-in;

        &:hover {
        	transition: border-color .25s ease-in;
        }

        &.cascade {
            position: relative;
        }

        & p {
          .sans;
          margin-bottom: 0px;
        }

        & h3, & p {
            position: relative;
            top: 2px;
        }
    }

    & .link.current, & .link:hover, & a, & a:hover {
      border-color: @orange;
      text-decoration: none;
      color: @charcoal;
    }

    & .filter {
        margin-left: 0;
        margin-bottom: 40px;
        border: 1px solid #333;
        border-width: 1px 0;
        padding: .5em 0;

        & li {
            display: inline-block;
            margin: 0 .5em;
            padding: .25em .5em 0;
            border-radius: 3px;
            transition: all .25s ease-in;
        }

        & a.filter-link {
            text-transform: uppercase;
            color: @orange;
            font-size: 12px;

            &:hover, &.current {
                color: @cream;
                & li {
                    background: @orange;
                }
            }
        }
    }
}

#project {
    background: @charcoal;
    color: @cream;

    &:before {
        content: '';
        position: absolute;
        top: 87px;
        height: 3px;
        width: 100%;
        background: @charcoal;
        z-index: 1000;
    }

    &.sticky {
        &:before{
            display: none;
        }
    }

    & #projects {
        float: left;

        & .link {
            border-color: @cream;

            &.current, &:hover {
              border-color: @orange;
            }

            & h3 {
                color: @cream;
            }

            & p {
                color: @orange;
            }
        }

        & .subtitle {
            font-size: 18px;
        }

        & .ext-links {
            margin: 20px 0;
        }

        @media(max-width: 767px){
            float: none;
        }
    }

    & .images {
        float: right;

        & .video-wrapper {
            position: relative;
        	padding-bottom: 55%;
        	height: 0;
            margin-bottom: 40px;

            & iframe {
                position: absolute;
            	top: 0;
            	left: 0;
            	width: 100%;
            	height: 100%;
            }
        }

        & .divider {
            border-bottom: 1px solid @cream;
            padding-bottom: .33em;
            margin-top: 20px;
            margin-bottom: 40px;
        }

        @media(max-width: 767px){
            float: none;
        }
    }
}

.container.scene_element.sticky {
    padding-top: 90px;
}

.ipad {
	position: relative;
	margin-top: -150px;
	z-index: 1;
}

i {
  position:relative;
  margin-right: 3px;
  top: -3px;
}

.icon-envelope{
	top: -2px;
}

.push{
  height:40px;
}

footer {

    font-size: small;

    & .row {
      position: absolute;
      bottom: 0;
    }

    & .span12 {
        margin-bottom: 1em;
        text-align: right;
    }
}

@media (max-width: 767px){
	header div {
		width: 245px;
	}

	#awards, #press, #contact {
		padding-left:0;
	}

	.ipad {
		margin-top: 0;
	}

    .container {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

@media (min-width:768px) and (max-width:979px) {

	.ipad {
		margin-top: -125px;
	}
}

@media (min-width:1200px) {

	.ipad {
		margin-top: -175px;
	}
}
