@import "animate.min.css";
@import "stagger.css";
.m-scene .scene_element {
  animation-duration: 0.25s;
  transition-timing-function: ease-out;
  animation-fill-mode: both;
}
.m-scene.is-exiting .scene_element {
  animation-direction: alternate-reverse;
}
