<header class="cf">
    <a href="/">{% include logo.svg %}
        <div class="logotype">
            <h1 class="orange">Stedman Halliday</h1>
            <h2>Multimedia Design</h2>
        </div>
    </a>
    <nav>
        <ul>
            {% if page.url == "/" %}
                <a href="#"><li class="current">
            {% else %}
                <a class="animsition-link" href="/"><li>
            {% endif %}
                Projects</li></a>

            {% if page.url == "/blog/" %}
                <a href="#"><li class="current">
            {% else %}
                <a class="animsition-link" href="/blog/"><li>
            {% endif %}
                Blog</li></a>

            {% if page.url == "/about/" %}
                <a href="#"><li class="current">
            {% else %}
                <a class="animsition-link" href="/about/"><li>
            {% endif %}
                About</li></a>
        </ul>
    </nav>
</header>
