<header>
    <div>
        <h1 class="orange">Stedman Halliday</h1>
        <h2>Multimedia Design</h2>
    </div>
    <a href="/"><img src="/images/logo.png" alt="monogram"></a>
</header>
<nav>
    <ul>
        {% if page.url == "/" %}
            <a href="#"><li class="current">
        {% else %}
            <a href="/"><li>
        {% endif %}
            Projects</li></a>

        {% if page.url == "/about/" %}
            <a href="#"><li class="current">
        {% else %}
            <a href="/about/"><li>
        {% endif %}
            About</li></a>
    </ul>
</nav>
<div id="backdrop"></div>
