/*
Authors:
Stedman Halliday: http://stedmanhalliday.com
Christian Babcock: http://babcockdesign.net
*/

@font-face {
  font-family: "Myriad Pro";
  src: url('type/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), url('type/MyriadPro-Regular.woff') format('woff'), url('type/MyriadPro-Regular.ttf') format('truetype'), url('type/MyriadPro-Regular.svg#svgMyriadPro') format('svg');
  font-weight: normal;
}
@font-face {
  font-family: "Myriad Pro";
  src: url('type/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'), url('type/MyriadPro-Bold.woff') format('woff'), url('type/MyriadPro-Bold.ttf') format('truetype'), url('type/MyriadPro-Bold.svg#svgMyriadPro') format('svg');
  font-weight: bold;
}
@font-face {
  font-family: "Myriad Pro";
  src: url('type/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'), url('type/MyriadPro-Semibold.woff') format('woff'), url('type/MyriadPro-Semibold.ttf') format('truetype'), url('type/MyriadPro-Semibold.svg#svgMyriadPro') format('svg');
  font-weight: 500;
}
body,
h1,
h2,
h3,
a {
  font-family: "Myriad Pro", "Helvetica", sans-serif;
  color: #888888;
}
body {
  line-height: 200%;
  -webkit-text-size-adjust: none;
  background: #ffffff;
}
h1 {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: normal;
  width: 115px;
}
h2,
h3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 200%;
}
h3 {
  line-height: 150%;
  margin: 0;
  border-bottom: 1px solid #888888;
  margin-bottom: 4px;
  text-shadow: 0px 1px #ffffff;
  transition: color .3s;
  -webkit-transition: color .3s;
  -moz-transition: color .3s;
  -o-transition: color .3s;
}
#image_container small{
	line-height: normal;
	display: block;
	color:#222;
}

footer a:hover {
  transition: color .3s;
  -webkit-transition: color .3s;
  -moz-transition: color .3s;
  -o-transition: color .3s;
  text-shadow: 0px 1px #ffffff;
}
a:hover,
#content h1 a:hover,
.light,
.light a,
.dark a:hover {
  text-decoration: none;
  color: #0066b5;
  transition: color .3s;
  -webkit-transition: color .3s;
  -moz-transition: color .3s;
  -o-transition: color .3s;
}
h3,
h3 a,
.dark,
.dark a,
strong,
strong a,
.missing {
  color: #222222;
}
.missing{
	font-weight:500;
	text-align: center;
	margin-top: 342px;
	font-size: 36px;
}
.container {
  padding-top: 20px;
  padding-bottom: 20px;
}
.sub {
  margin-left: 20px;
}
#sidebar {
  border-right: 1px solid #cccccc;
  width: 187px;
  padding-left: 32px;
}
#logo {
  padding: 20px 25px 70px;
  position: relative;
  top: -20px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: 0px;
  border-width: 0 1px 1px;
  border-style: solid;
  border-color: #cccccc;
}
#current {
  width: 165px;
  text-align: center;
  position: relative;
  top: -65px;
}
#current a {
  color: #f8b24a;
}
nav {
  margin-top: -35px;
}
#sidebar h1 a:after {
  content: " site";
  text-transform: lowercase;
}
#sidebar #current a:after {
  content: "";
}
#header {
  height: 220px;
  background: #cccccc;
  margin-bottom: 20px;
}
#copy {
  padding-right: 20px;
  text-align: justify;
  line-height: 180%;
}
.bio {
  text-align: justify;
}
.bio ul li,
#copy_container ul li {
  line-height: 180%;
  text-align: justify;
}
#terms p {
  margin-left: 40px;
}
#testimonials {
  text-align: justify;
}

#image_container{
	text-align: center;
}

#image {
  background: #cccccc;
  margin-bottom: 5px;
}

#seal{
	display: inline-block;
	margin-top:15px;
	margin-bottom: 10px;
}

.headshot {
  height: 140px;
  background: #cccccc;
  float: right;
  margin-bottom: 20px;
  margin-left: 20px;
}
#content .item h1 {
  width: 100%;
  text-align: center;
  text-transform: capitalize;
}
#content .item h1 i {
  font-family: "Georgia", "Times New Roman", serif;
  font-weight: normal;
  color: #888888;
}
.carousel-image {
  width: 100%;
  height: 270px;
  background: #cccccc;
}
.carousel-control {
  top: 168px;
}
.carousel-control span {
  position: relative;
  top: 4px;
}
.carousel-inner .item div {
  margin-top: 20px;
  text-align: center;
  padding-left: 40px;
}
.thumb {
  background: #cccccc;
  height: 60px;
  /*border-bottom:3px solid @grey;*/

  cursor: pointer;
}
.thumb:hover,
.thumb:active {
  /*border-color:@blue;*/

  border-bottom: 3px solid #0066b5;
}
.thumb .active {
  border-bottom: 3px solid #888888;
}
.thumb.offset1 {
  margin-left: 60px;
}
.thumb.offset2 {
  margin-left: 140px;
}
.left span {
  left: -2px;
}
.right span {
  right: -2px;
}
.quote-container {
  float: left;
}
.openquote,
.quote,
.quote p,
.endquote {
  display: inline;
  float: left;
}

.in{
/* 	text-indent: 1em; */
}

.openquote,
.endquote {
  font-family: "Georgia", "Times New Roman", serif;
  font-size: 48px;
  line-height: 0px;
  position: relative;
  top: 20px;
  color: #cccccc;
}
.openquote {
  top: 22px;
}
.endquote {
  float: none;
  margin-left: 4px;
}
.quote {
  color: #222222;
  font-size: 16px;
  margin-left: 24px;
}
.quoted {
  float: right;
  margin: 0px 80px 20px 0;
  font-family: "Georgia", "Times New Roman", serif;
  font-style: italic;
  font-size: 18px;
}
#content h1,
#content h1 a {
  font-size: 14px;
  text-align: left;
  color: #222222;
  margin-top: 5px;
}
form {
  margin-bottom: 0;
}
form h1 {
  margin-bottom: 14px;
}
label {
  font-weight: 500;
  text-transform: capitalize;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  font-family: "Myriad Pro", "Helvetica", sans-serif;
  background: #ffffff;
  border-radius: 0px;
  moz-border-radius: 0px;
  border: 1px solid #888888;
  box-shadow: inset 0px 1px 3px 0px #dddddd;
}
footer {
  width: 100%;
  margin: 40px 0 0 0;
  /*background:url(/images/tiny_grid.png);*/

  background: #eeeeee;
  padding: 0px;
  line-height: 150%;
  position: absolute;
  top: 672px;
  box-shadow: inset 0px 3px 5px 0px #dddddd;
}
.icon {
  margin-right: 5px;
  margin-top: -1px;
  display: none;
}
/* Large Displays */
@media (min-width: 1200px) {
  .container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  body,
  h2,
  h3,
  #content .item h1 {
    font-size: 16px;
  }
  h1 {
    font-size: 14px;
  }
  #sidebar {
    width: 222px;
    padding-left: 47px;
  }
  #logo {
    padding: 40px 40px 123px;
    top: -40px;
  }
  #current {
    width: 195px;
    top: -105px;
  }
  nav {
    margin-top: -38px;
  }
  #header {
    height: 273px;
    margin-bottom: 40px;
  }
  #copy_container,
  #service_container {
    margin-top: 3px;
  }
  #copy {
    margin-top: -3px;
    line-height: 200%;
    word-spacing: .1em;
  }
  .bio ul li,
  #copy_container ul li {
    line-height: 200%;
  }
  .headshot {
    width: 140px;
  }
  .carousel {
    top: -2px;
  }
  .carousel-control {
    top: 203px;
  }
  .carousel-image {
    height: 335px;
  }
  .thumb {
    height: 70px;
  }
  .thumb.offset1 {
    margin-left: 80px;
  }
  .thumb.offset2 {
    margin-left: 180px;
  }
  .carousel-inner .item div {
    padding-left: 50px;
  }
  /*
.quote {
    font-size: 18px;
  }
  .quoted {
    font-size: 20px;
    margin-right: 100px;
  }
*/
  form,
  #contact {
    margin-top: 3px;
  }
  label,
  input,
  textarea {
    font-size: 16px !important;
  }
  footer {
    margin-top: 80px;
    top: 888px;
  }
  .icon {
    margin-top: 0px;
  }
}
/* Tablet Portrait */
@media (min-width: 768px) and (max-width: 979px) {
  .navbar {
    margin-bottom: 20px;
  }
  .navbar-inner ul.nav {
    margin-right: 0px;
  }
  .navbar .span3 {
    width: 165px;
    margin-left: 8px;
    text-align: center;
  }
  .logotype.span3 {
    width: 163px;
    margin: 0px;
    padding: 5px 0px;
    text-align: center;
  }
  .logotype img {
    padding-right: 5px;
    padding-left: 12px;
  }
  .dropdown-menu {
    background: #ffffff;
  }
  .navbar .nav > li > .dropdown-menu::before {
    border-bottom: 7px solid #ffffff;
  }
  .navbar .nav > li > .dropdown-menu::after {
    border-bottom: 6px solid #ffffff;
  }
  .dropdown .caret {
    margin-top: 12px;
    border-top: 4px solid #222222 !important;
  }
  .logotype ul.dropdown-menu li a {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: #888888;
  }
  .logotype ul.dropdown-menu li a.dark {
    color: #0066b5;
  }
  .logotype ul.dropdown-menu li a:hover,
  .logotype ul.dropdown-menu li a:active {
    color: #ffffff !important;
  }
  a.dropdown-toggle {
    font-weight: 500;
  }
  .dropdown-menu a {
    color: #888888;
  }
  .dropdown-menu a:hover,
  .dropdown-menu a:active {
    background: #0066b5 !important;
  }
  .dropdown-menu a.dark {
    color: #222222;
    background: #dddddd;
  }
  .dropdown-menu .divider {
    background-color: #cccccc !important;
    border-color: #ffffff !important;
  }
  #content,
  #header,
  #terms,
  #testimonials,
  .bio,
  .missing {
    width: 724px;
  }
  #service_container {
    width: 744px;
  }
  #header {
    height: 228px;
  }
  #copy_container {
    width: 476px;
  }
  #service_container div {
    width: 228px;
  }
  #image_container {
    width: 228px;
  }
  .headshot {
    width: 140px;
    /*margin-left:83px;*/
  
  }
  .carousel {
    width: 600px;
  }
  .carousel-image {
    height: 300px;
  }
  .carousel-control {
    top: 183px;
  }
  .thumb {
    width: 60px;
  }
  .thumb.offset1 {
    margin-left: 72px;
  }
  .thumb.offset2 {
    margin-left: 152px;
  }
  .carousel-inner .item div {
    padding-left: 70px;
  }
  .quoted {
    margin-right: 62px;
  }
  form.span4,
  #contact {
    width: 290px;
    margin-left: 82px;
  }
  input {
    height: 16px !important;
  }
  input,
  textarea {
    line-height: 16px !important;
    padding-bottom: 0px !important;
  }
  footer {
    top: 888px;
  }
  h3,
  footer {
    font-size: 12px;
  }
  .icon {
    height: 12px;
  }
  footer .icon {
    margin-top: -2px;
  }
}
