<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    <div id="main" class="m-scene">
        {% include header.html %}
        <div class="container scene_element scene_element--fadeInUp">
            <div class="row drop">
                <div class="span12">
                    <section id="projects">
                        <h1>Projects</h1>
                        <ul class="filter">
                            <li><strong>Filter:</strong></li>
                            <a href="javascript: void(0)" class="filter-link all current"><li>all</li></a>
                            {% assign ptags = "" | split:"|"  %}
                            {% for project in site.projects %}
                                {% for tag in project.tags %}
                                    {% unless ptags contains tag %}
                                        {% assign ptags = ptags | push: tag | sort %}
                                    {% endunless %}
                                {% endfor %}
                            {% endfor %}
                            {% for ptag in ptags %}
                                <a href="javascript: void(0)" class="filter-link" data-tag="{{ptag}}"><li>{{ptag}}</li></a>
                            {% endfor %}
                        </ul>
                        <div class="grid">
                            <div class="grid-sizer"></div>
                            {% for project in site.projects reversed %}
                            <!-- set project media path -->
                            {% capture media %}
                                /projects/{{ project.date | date: "%Y/%m%d" }}-{{ project.title | slugify }}/
                            {% endcapture %}
                            <!-- end -->
                            <!-- <a href="{{ project.url }}" class="plink"><div class="link cascade {{project.tags | join: " "}}">
                                <h3>{{ project.title }}</h3>
                                <p>{{ project.tags | sort | join: ', ' | capitalize }}</p>
                            </div></a> -->
                            <a href="{{project.url}}">
                                <div class="grid-item">
                                    <img src="{{media|strip}}thumbnail.png" alt="{{ project.title }}">
                                </div>
                            </a>
                            {% endfor %}
                        </div>
                    </section>
                </div>
            </div>
            <div class="push"></div>
        </div><!-- /container -->

        {% include footer.html %}
    </div>

    {% include scripts.html %}

</body>
</html>
