<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}
    
    <div class="container">
        <div class="row drop">
            <div class="span4">
                <section id="projects">
                    <h1>Projects</h1>
                    <!--a href="/greg-victoroff-associates.html"><section>
                        <h3>Greg Victoroff & Associates</h3>
                        <p>Copyright law identity concepts</p>
                    </section></a-->
                    {% for project in site.projects %}
                    <a href="{{ project.url }}"><section>
                        <h3>{{ project.title }}</h3>
                        <p>{{ project.snippet }}</p>
                    </section></a>
                    {% endfor %}
                </section>
            </div>
            <section class="span8 images">
                <img src="/images/prism.png" class="hidden-phone" alt="">
            </section>
        </div>
        <div class="push"></div>
    </div><!-- /container -->

    {% include footer.html %}

</body>
</html>
