<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    <div id="main">
        {% include header.html %}
        <div class="container animsition" data-animsition-in-class="fade-in-left" data-animsition-out-class="fade-out-left">
            <div class="row drop">
                <div class="span12">
                    <section id="projects">
                        <h1>Projects</h1>
                        <ul class="filter">
                            <li><strong>Tags:</strong></li>
                            <a href="javascript: void(0)" class="filter-link all current"><li>all</li></a>
                            {% assign ptags = "" | split:"|"  %}
                            {% for project in site.projects %}
                                {% for tag in project.tags %}
                                    {% unless ptags contains tag %}
                                        {% assign ptags = ptags | push: tag | sort %}
                                    {% endunless %}
                                {% endfor %}
                            {% endfor %}
                            {% for ptag in ptags %}
                                <a href="javascript: void(0)" class="filter-link" data-tag="{{ptag}}"><li>{{ptag}}</li></a>
                            {% endfor %}
                        </ul>
                        <div class="grid">
                            <div class="grid-sizer"></div>
                            <div class="gutter-sizer"></div>
                            {% for project in site.projects reversed %}
                                {% capture media %}
                                    /projects/{{ project.date | date: "%Y/%m%d" }}-{{ project.title | slugify }}/
                                {% endcapture %}
                            <a class="plink animsition-link grid-item" href="{{project.url}}">
                                <div class="project {{project.tags | join: ' '}}">
                                    <div class="imgwrap"><img src="{{ site.data.global_assets.placeholder }}" data-src="{{media|strip}}{{project.thumbnail}}" alt="{{ project.title }}"></div>
                                    <div class="project-info">
                                        <h3>{{ project.title }}</h3>
                                        <p>{{ project.tags | sort | join: ', ' | capitalize }}</p>
                                    </div>
                                </div>
                            </a>
                            {% endfor %}
                        </div>
                    </section>
                </div>
            </div>
            <div class="push"></div>
        </div><!-- /container -->

        {% include footer.html %}
    </div>

    {% include scripts.html %}

</body>
</html>
