<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    <div id="main">
        {% include header.html %}
        <div id="project">
        <div class="container animsition" data-animsition-in-class="fade-in-down" data-animsition-out-class="fade-out-up">
            <div class="row drop">
                    <section class="span8 images">
                        <div class="row">
                            {{ content }}
                        </div>
                    </section>
                    <div class="span4">
                        <article>
                            <h1>{{ page.title }}</h1>
                            {% if page.subtitle %}
                                <p class="subtitle">{{ page.subtitle }}</p>
                            {% endif %}
                            <p class="tags">{{ page.tags | sort | join: ', ' | capitalize }}</p>
                            <div class="ext-links">
                            {% for link in page.links %}
                                <a href="{{ link.url }}" target="_blank"><div class="link">
                					<h3>{{ link.title }}</h3>
                					<p>{{ link.text }}</p>
                				</div></a>
                            {% endfor %}
                            </div>
                            <p>{{ page.description | markdownify }}</p>
                                <p><em>
                                    {{ page.date | date: "%B" | slice: 0, 3 }}
                                    {{ page.date | date: "%Y" }}
                                </em></p>
                            <br><p><a class="animsition-link" href="{{ "/" | relative_url }}"><small>BACK TO PROJECTS</small></a></p>
                            </article>
                        </div>
                </div>
                <div class="push"></div>
            </div><!-- /container -->

            {% include footer.html %}
            </div>
        </div>

        {% include scripts.html %}

    </body>

    </html>
