<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    <div id="main" class="m-scene">
        {% include header.html %}
        <div class="container scene_element scene_element--slideInDown">
            <div class="row drop">
                <div class="span4" id="projects">
                    <article>
                        <h1>{{ page.title }}</h1>
                        <p>{{ page.description | markupify }}
                            <br><br><em>
                                {{ page.date | date: "%B" | slice: 0, 3 }}
                                {{ page.date | date: "%Y" }}
                            </em></p>
                        </article>
                    </div>
                    <section class="span8 images">
                        <div class="row">
                            <img class="span2" src="/images/greg-victoroff-logo-1.png" alt="Greg Victoroff monogram">
                            <img class="span2" src="/images/greg-victoroff-logo-2.png" alt="Greg Victoroff & Associates logo">
                        </div>
                        <img src="/images/greg-victoroff-business-cards.png" alt="Greg Victoroff & Associates business cards">
                    </section>
                </div>
                <div class="push"></div>
            </div><!-- /container -->

            {% include footer.html %}
        </div>

        {% include scripts.html %}

    </body>

    </html>
